Django==5.1.4
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.6.0
psycopg[binary]==3.2.1
python-docx==1.1.2
mysqlclient==2.2.8
ezdxf==1.4.4
Pillow==10.3.0
requests==2.32.3
gunicorn==23.0.0
